{%extends 'layout.html'%}
{%block pestaña%}inicio de sesion{%endblock%}
{%block body%}

<header>
    <header>
        <h1>recuperar contraseña</h1>
    </header>

</header>

<div class="contenedor_ini_sesiones">
    <div>
        <img src="../static/assets/img/logo_unillanos.png" alt="" class="logo2">
        
    </div>
   
    <form action="{{url_for('cambio_contra', id = email)}}" method="post">

        <input type="hidden" name="id" value="{{email}}">

        

        <div class="ingreso_correo">
            <label  for="nueva_password">nueva contraseña</label>
            <input type="password" name="nueva_password" id="nueva_password">
        </div>

        <div class="ingreso_correo">
            <label  for="confirmar_password">confirmar contraseña</label>
            <input type="password" name="confirmar_password" id="confirmar_password">
        </div>

        <button type="submit">Enviar</button>


        <a class="segundo_boton" href="{{url_for('ini_sesion')}}">regresar</a>


    </form>

</div>




{%endblock%}
